

<!-- body 밑에 자식이 n개 있을 경우 대표하는 하나의 div로 감싸서 th:block에 매핑시킨다 -->
<div th:fragment="frag_index_content"  class="content-wrapper">
	
	<div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Post 상세보기</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><a href="/post/list">Post 목록</a></li>                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
 
 	<section class="content">
        <div class="container-fluid">
          <!-- Small boxes (Stat box) -->
          <div class="row">
            <div class="col-lg-12 col-12">
                 
					<div class="container my-3">
						<!-- 타임리프 표준주석 : 개발자만 볼수 있다 -->
						<!--/* card 단위는 기본적으로 특정 콘텐츠 하나를 독립적 담는 구분 단위(라운드로 표현) */-->
						<div class="card my-3">
							<div class="card-header">
								<!--/* 제목 */-->
								<h3 th:text="${ post.subject}"></h3>
							</div>
							<div class="card-body">
								<!--/* 내용 */-->
								<div class="card-text" th:text="${ post.content}"></div>
								<!--/* 작성시간 */-->
								<div class="badge bg-light text-primary text-start" th:text="${ #temporals.format( post.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')  }"></div>
							</div>
						</div>	
						<!-- 수정, 삭제 버튼 추가 -->
						<a th:href="|/post/modify/${post.id}|" class="btn btn-success">수정</a>
					    <!--
							<a th:href="|/post/delete/${post.id}|" class="btn btn-danger">삭제</a>
						-->
						<form method="delete" th:action="@{|/post/delete/${post.id}|}">
							<input type="submit" value="삭제" class="btn btn-danger">
						</form>
					   
					</div>
					
					<!-- 리뷰 등록 -->
					<div class="container my-3">
						<h3 class="border-bottom py-2 my-3"
							th:text="|리뷰 ${#lists.size(post.reviewList)}개|"
						></h3>
						<h3 class="border-bottom py-2 my-3">리뷰 등록</h3>
						<!-- 
							클라이언트에서 서버로 데이터 전송 
							action => url, 데이터를 보내고자 하는 목적지 주소
							만약, 생략된다면?	현재 보여지는 페이지의 URL로 전송한다
						-->
						<form th:action="@{|/review/create/${post.id}|}" method="post"
							th:object="${reviewForm}" >
							<!-- 오류가 존재한다면 오류 내용을 화면에 보인다 => 유효성 검증 -->
							<!-- 공통요소(2개이상 발견) => 단독 html(조각들만 모여있는)으로 구성하여서 replace -->
							<!-- 폼에러 파트 공통 모듈로 대체 처리 -->
							<!-- 삽입처리시 
							  "파일명.확장자 :: 모듈이름" OR
							  "~{파일명 :: 모듈이름}" 표현가능
							-->
							<div th:replace="~{lib/frag :: formErrorFrag}"></div>
							<!-- input : 사용자의 입력을 받는 요소(텍스트,비밀번호,이메일,날짜,수치,..숨김) 
								 키 : name 속성
								 값 : value 속성
								 문서(html)내 고유한값 지정 : id 속성 => html 문서내에서 특정 요소를 탐색할때 1순위 검색 대상
								 	- 문서내 id값은 고유하다 => 찾는 방법 : CSS Selector => #아이디값
								 	- name값과 id값을 동일하게 부여함
							-->
							<!-- <input type="hidden" name="pid" value="pid"/>  -->
							<!-- 사용자가 잘 입력하고 등록 버튼을 누른다는 전제하게 진행
								 차후, 입력폼 검사 추가 (js 레벨, 백엔드 레벨) 각각 확인				
							 -->
							 <!-- 
							 	input type => 모바일에서 가상키보드의 레이아웃을 조정하는 단서
							 	text, password, date, time, email, ...  <= html5에서 추가됨
							  -->
							<input type="text" name="content" id="content" />
							<input type="submit" value="리뷰 등록"/>
						</form>
					</div>
					
					<!-- 리뷰 목록 노출 -->
					<div class="container my-3">
						<!-- 실습 5분, 리뷰 내용, 작성시간을 리스트로 표현하시오 -->
						
						<div class="card my-3 bg-warning" th:each="review : ${post.reviewList}">
							<div class="card-body">				
								<div class="card-text">
									[[ |${ review.content} - 
									    ${ #temporals.format( review.getCreateDate(), 'yyyy-MM-dd HH:mm:ss')  }|  ]]
								</div>
							</div>
							<div class="card-footer">
								<a th:href="|/review/modify/${review.id}|" class="btn btn-info">수정</a>
								<a th:href="|/review/delete/${review.id}|" class="btn btn-danger">삭제</a>
							</div>
							
						</div>
						
					</div>


			</div>
		  </div>
	    </div>
    </section>
</div>
	
