<div th:fragment="page_home"  class="content-wrapper">
	<div class="my-3 border-bottom pb-1">
		<h5>회원가입</h5>
	</div>
	<form method="post" th:object="${userForm}" th:action="@{/user/signup}">
		<!-- th:object, 오류 처리(아래코드)만 넣어서 연동 여부 확인(오타및 이름규칙 오류확인)  -->
		<div th:replace="~{lib/frag :: formErrorFrag}"></div>
		<div class="my-3">			
			<label for="username" class="form-label">사용자 ID</label>			
			<input type="text"  id="username" th:field="*{username}" class="form-control">
		</div>
		<div class="my-3">			
			<label for="password1" class="form-label">비밀번호</label>			
			<input type="password"  id="password1" th:field="*{password1}" class="form-control">
		</div>
		<div class="my-3">			
			<label for="password2" class="form-label">비밀번호 확인</label>			
			<input type="password"  id="password2" th:field="*{password2}" class="form-control">
		</div>
		<div class="my-3">			
			<label for="email" class="form-label">이메일</label>			
			<input type="email"  id="email" th:field="*{email}" class="form-control">
		</div>
		<div class="my-3">
			<input type="reset" value="초기화" class="btn btn-warning">
			<input type="submit" value="회원가입" class="btn btn-warning">
		</div>
	</form>
</div>







