<!DOCTYPE html>
<!-- 
	HTML 주석, 1번 라인은 이 문서가 HTML5의 문법을 따른다는 표식, 생략 가능함
	브라우저는 HTML 문서를 한줄씩 스캔하면서 해석 -> 메모리 로드, 필요시 화면 렌더링 
	HTML5 문서는 HTML로 시작하여 HTML로 끝난다
	- element(요소) : start tag, end tag, content로 구성
		- ex) <TAG name="p">   <- start tag, 속성(attribute)을 가질수 있다 ex) name="p"
				ABCD  <- content
			  </TAG>  <- end tag
		- ex) <br/> <input  />   <- 단독태그
	- <html>의 자식은 2개
		- <head>
			- html 문서의 메타 정보 기술
			- 제목, 키워드 등록, 화면사이즈, 줌, 아이콘(파비콘),....
			- external(외부에 존재하는) js|css 등 외부 파일들 연결
		- <body>
			- html을 브라우저에 랜더링 수행시 화면에 보이는 부분 담당
			- 구조, 콘텐츠 등 구성
	- vscode
		- 정렬
			- ctrl + a
			- ctrl 누른 상태로, k->f 연타
		- 코드 모든 레벨에서 접기
			- f1(키)
			- fold all 선택
-->
<html>

<head>
	<meta charset="UTF-8">
	<title>타임리프 템플릿적용</title>
</head>

<body>
	<h3>홈페이지</h3>
</body>

</html>